openapi: 3.0.3
info:
  title: Employee Management System 
  description: |-
    This is a employee management system that uses REST API to perform crud operations.
    All the operations are performed by Admin.
  contact:
    email: sujatha@gmail.com
  version: 1.0.11
servers:
  - url: https://asia-south1-excellent-math-403109.cloudfunctions.net
tags:
  - name: Admin
    description: Performs the CRUD operations on employee
paths:
  /ReadEmployees:
    get:
      parameters:
        - name: firstname
          in: query
          description: Get details of employee by firstname
          required: false
          schema: 
            type: string
        - name: lastname
          in: query
          description: Get details of employee by lastname
          required: false
          schema: 
            type: string  
        - name: email
          in: query
          description: Get details of employee by email
          required: false
          schema: 
            type: string
        - name: role
          in: query
          description: Get details of employee by role
          required: false
          schema: 
            type: string
      tags:
        - Admin
      summary: Get a list of all employees
      description: This endpoint uses GET request to retrive all employees data. You can search the employee data using firstname,lastname,email and role. 
      responses:
        '200':
          description: OK
          content:
             application/json:
              schema:
                $ref: '#/components/schemas/Employee'
  /CreateEmployees:
    post:
      tags:
        - Admin
      summary: Creates a new employee
      description: This endpoint creates a new employee using POST request.
      requestBody:
        description: Creates a new Employee 
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  firstname:
                    type: string
                    format:  max=10,min=3
                    example: Sujatha
                  lastname:
                    type: string
                    example: Iyer
                  email:
                    type: string
                    format: email
                    example: JohnSmith@swaggertheband.com
                  password:
                    type: string
                    pattern: "Password should more than 8 letters.It must contains atleast one uppercase,one lowercase,one special character,one number."
                    example: pafhiwe2137!
                  phoneno:
                    type: string
                    format: default 10 numbers
                    example: "1234567890"
                  role:
                    type: string
                    example: admin
                  salary:
                    type: number
                    format: float
                    example: 500000.00
                required:
                  - firstname
                  - lastname
                  - email
                  - password
                  - phoneno
                  - role
                  - salary
        required: true
      responses:
        '200':
          description: Data added successfully
  /UpdateEmployees/{id}:
    put:
      tags:
        - Admin
      summary: Update Employee using their id  
      description: Update the employee details 
      parameters:
        - name: id
          in: path
          description: ID of the employee that needs to be updated
          required: true
          schema:
            type: string
      requestBody:
        description: Update an existent user in the store
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  firstname:
                    type: string
                    format:  max=10,min=3
                    example: Sujatha
                  lastname:
                    type: string
                    example: Iyer
                  email:
                    type: string
                    format: email
                    example: JohnSmith@swaggertheband.com
                  password:
                    type: string
                    pattern: "Password should more than 8 letters.It must contains atleast one uppercase,one lowercase,one special character,one number."
                    example: pafhiwe2137!
                  phoneno:
                    type: string
                    format: default 10 numbers
                    example: "1234567890"
                  role:
                    type: string
                    example: admin
                  salary:
                    type: number
                    format: float
                    example: 500000.00
                required:
                  - firstname
                  - lastname
                  - email
                  - password
                  - phoneno
                  - role
                  - salary
      responses:
        '400': 
          description: ID not found
        default:
          description: Employee updated successfully
  /DeleteEmployees/{id}:
    delete:
      tags:
        - Admin
      summary: Delete Employee using their id
      description: Deletes the Employee details
      parameters:
        - name: id
          in: path
          description: The employee that needs to be deleted
          required: true
          schema:
            type: string
      responses:
        '400':
          description: employee not found
        
components:
  schemas:
    Employee:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            example: "fhty89"
          firstname:
            type: string
            format:  max=10,min=3
            example: Sujatha
          lastname:
            type: string
            example: Iyer
          email:
            type: string
            format: email
            example: JohnSmith@swaggertheband.com
          password:
            type: string
            pattern: "Password should more than 8 letters.It must contains atleast one uppercase,one lowercase,one special character,one number."
            example: pafhiwe2137!
          phoneno:
            type: string
            format: default 10 numbers
            example: "1234567890"
          role:
            type: string
            example: admin
          salary:
            type: number
            format: float
            example: 500000.00
        